// Customize Bulma
$primary: #009578;
$family-sans-serif: 'Readex Pro', sans-serif;
$section-padding: 1.5rem;

// Import all of Bulma
@import "../node_modules/bulma/bulma.sass";

// Override Bulma styles
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-hello {
    padding: 0 1rem;
}